/* ohne raute und punkt wir damit direkt ein standard html befehl angesprochen*/
body {
	font-family: Verdana, Arial;
	font-size: 80%;
	line-height: 1.4em;
	background-color: #cccccc;
}

/* nur gültig bei div tags die eine auflistung verwenden*/
div.categoryitem ul {
	list-style: none outside none;
}

a {
	text-decoration: none;
	color: #0000ff;
}

a:visited {
	text-decoration: none;
	color: #0000ff;
}

a:hover {
	color: #0000ff;
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

h1 {
	padding-bottom: 8px;
	font-size: 1.4em;
	font-weight: bold;
}

h2 {
	padding-bottom: 8px;
	font-size: 1.4em;
	font-weight: bold;
}

input {
	padding: 1px;
}

form {
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #333333;
	background-color: #f1f1f1;
}

/* id's werden immer mit einer # angegeben*/
	/* steht z.b. ein div vor der raute: div#sitebox dann kann die id nur auf div tags angewendet werden*/
	/* eine id darf in einem html dokument nur einmal vorkommen! */
#sitebox {
	margin: 10px;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	border: 1px solid rgb(0, 0, 0);
	overflow: hidden;
}

#banner {
	background-color: #343434;
	background-image: url('../images/banner.jpg');
	background-repeat: repeat-x;
	height: 79px;
}

#bannerleft {
	background-image: url('../images/bannerleft.jpg');
	background-repeat: no-repeat;
	height: 79px;
	width: 600px;
	position: absolute;
	top: 0px;
	left: 0px;
}

#mainmenu {
	background-color: #343434;
	background-image: url('../images/mainmenu.jpg');
	background-repeat: repeat-x;
	height: 28px;
	font-weight: bold;
	line-height: 28px;
	color: #ffffff;
	text-align: right;
	padding-right: 10px;
}

#mainmenu a {
	color: #ffff00;
}

#mainmenu a:hover {
	color: #ffff00;
	text-decoration: underline;
}

#menuleft {
	background-color: #343434;
	background-image: url('../images/menuleft.jpg');
	background-repeat: repeat-y;
	position: absolute;
	top: 107px;
	left: 0px;
	bottom: 0px;
	width: 199px;
}

#content {
	background-color: rgb(250, 250, 250);
	background-image: url('../images/contentinlay.jpg');
	background-repeat: no-repeat;
	position: absolute;
	top: 107px;
	right: 0px;
	bottom: 0px;
	left: 200px;
	overflow: scroll;
	padding: 10px;
}

#footer {
	background-color: #999999;
	background-image: url('../images/footer.jpg');
	background-position: bottom left;
	background-repeat: repeat-x;
	position: absolute;
	color: #fff;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 19px;
	font-size: 0.8em;
	line-height: 19px;
	text-align: center;
	font-weight: bold;
}

#footer a {
	color: #ffffff;
	text-decoration: underline;
}

#footer a:hover {
	color: #ffff00;
}

#footer p {
	display: inline;
}

/*************************/ /*         Klassen       */
	/*************************/
.categoryitem {
	color: rgb(51, 51, 51);
	background-color: rgb(250, 250, 250);
	width: 180px;
	/*	border: 1px solid black;*/
	font-weight: normal;
	font-size: 0.8em;
}

.category {
	color: rgb(250, 250, 250);
	margin: 0px auto 0 5px;
	font-weight: bold;
}

.itemtitle {
	border: 1px solid rgb(51, 51, 51);
	margin: 5px 5px 0 5px;
	padding: 0 5px 0 5px;
}

.itemfooter {
	border: 1px solid rgb(255, 51, 51);
	margin: 5px 5px 0 5px;
}

.imagebox {
	border: 1px solid rgb(51, 51, 51);
	margin: 5px 5px 0 5px;
	padding: 0px 5px 5px 5px;
	width: 202px;
}

.image {
	border: 1px solid rgb(100, 100, 100);
	margin: 5px 0 0 0;
}

.itemdescription {
	position: absolute;
	left: 223px;
	right: 0px;
	top: 30px;
	width: auto;
	border: 1px solid rgb(51, 51, 51);
	margin: 0px 5px 0 0px;
	padding: 0 5px 0 5px;
}

.clear {
	clear: both;
}

.hidden {
	visibility: hidden;
	display: none;
}