/***************************************/
/* alle Klassen der Startseite         */
/***************************************/

.newarticle {
	width: 360px;
	height: 300px;
	border: 1px solid black;
	float: left;
	margin: 3px 3px 0px 0px;
	padding: 5px 5px 5px 5px;
}

.newarticleimagebox {
	
	position: relative;
	top: 0px;
	left: 80px;
	bottom: auto;
	right: auto;
}

.newarticleprice {
	position: relative;
	top: auto;
	left: 0px;
	bottom: -10px;
	right: auto;
	color: #F10000;
	font-size: 3.2em;
	font-weight: bold;
	line-height: 60px;
	/*float: right;*/
	
}

.addtobasket {
	position: relative;
	bottom: -10px;
	right: 0px;
	left: auto;
	top: auto;
	float: right;
	
}