@import url('default.css');

body {
	line-height: 1.4em;
}

input, textarea, select {
	font-size: 1.0em;
	font-family: sans-serif, verdana, arial;
}


#sitebox {
	position: relative;
	width: 100%;
	margin: 0 auto 0 auto;
}

#bannerleft {
	background-image: url('../images/handheld/bannerleft.jpg');
	width: 240px;
}

#designselection {
	width: 31px;
	height: 11px;
	line-height: 11px;
	padding: 1px;
	font-size: 0.7em;
}

#mainmenu {
	font-size: 0.82em;
	padding-right: 4px;
	line-height: 12px;
}

#menuleft {
	top: 0;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	position: relative;
	font-size: 0.85em;
	line-height: 15px;
	background-repeat: repeat;
	border-bottom: 1px solid #333333;
	background-image: url('../images/handheld/menuleft.jpg');
}

#content {
	position: relative;
	top: 0;
	left: 0;
	border-top: 1px solid #333333;
	font-size: 0.85em;
	padding: 7px;
	overflow: auto;
}

#footer {
	position: relative;
	background-image: url('../images/handheld/footer.jpg');
	height: 16px;
	line-height: 13px;
	font-size: 0.7em;
}

#footer span {
	font-size: 13pt;
}


.formColLeft {
	width: 100%;
}

.formColRight {
	margin: 15px 15px 15px 0;
}

.textField {
	width: 150px;
}