.colLeft {
	float: left;
	width: 100px;
	padding: 5px;
	margin-top: 10px;
}

.colLeft p {
	display: inline;
}

.colRight {
	margin-left: 25px;
	margin-top: 10px;
	float: left;
	padding: 5px 5px 5px 5px;
}

.textfield {
	width: 200px;
}

.form {
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	border: 1px solid #333333;
	background-color: #f1f1f1;
}