/***************************************/
/* alle Klassen der Startseite         */
/***************************************/

.newarticle {
	width: 360px;
	height: 300px;
	border: 1px solid black;
	float: left;
	margin: 3px 3px 0px 0px;
	padding: 5px 5px 5px 5px;
}


.newarticleimagebox {
	text-align: center;
}

.newarticleprice {
	margin-top: 5px;
	max-width: 174px;
	color: #F10000;
	font-size: 3.2em;
	font-weight: bold;
	line-height: 60px;		
}

.addtobasket {
	float: right;
}