/***************************************/
/* alle Klassen der Startseite         */
/***************************************/

.newarticle {
	width: 250px;
	border: 1px solid black;
	float: left;
	margin: 9px 5px 0 4px;
	padding: 5px 5px 5px 5px;
}


.newarticleimagebox {
	text-align: center;
	margin-bottom: 15px;
}

.newarticleprice {
	margin-top: 5px;
	max-width: 100px;
	color: #F10000;
	font-size: 1.6em;
	font-weight: bold;
	line-height: 60px;		
}

.addtobasket {
	float: right;
}